*{
    margin: 0;
    padding: 0;
    font-family: 'poppins', sans-serif;
    box-sizing: border-box;
}
body{
    background: #385c87;
}
.timeline{
    position: relative;
    max-width: 1200px;
    margin: 100px auto;
}
.container{
    padding: 10px 50px;
    position: relative;
    width: 50%;
    animation: movedown 1s linear forwards;
    opacity: 0;
}
@keyframes movedown{
    0%{
        opacity: 1;
        transform: translateY(-30px);
    }
    100%{
        opacity: 1;
        transform: translateY(0px);
    }
}

.container:nth-child(1){
    animation-delay: 0s;
}
.container:nth-child(2){
    animation-delay: 1s;
}
.container:nth-child(3){
    animation-delay: 2s;
}
.container:nth-child(4){
    animation-delay: 3s;
}
.container:nth-child(5){
    animation-delay: 4s;
}
.container:nth-child(6){
    animation-delay: 5s;
}




.text-box{
    padding: 20px 30px;
    background-color: #fff;
    position: relative;
    border-radius: 6px;
    font-size: 15px;
}
.left-containe{
    left: 0;
}
.right-containe{
    left: 50%;
}
.container img{
    position: absolute;
    width: 40px;
    border-radius: 50%;
    right: -20px;
    top: 32px;
    z-index: 10;
}
.right-containe img{
left: -20px;
}
.timeline::after{
    content: '';
    position: absolute;
    width: 6px;
    height: 100%;
    background: #fff;
    top: 0;
    left: 50%;
    margin-left: -3px;
    z-index: -1;
    animation: moveline 6s linear forwards;
}

@keyframes moveline{
    0%{
        height: 0;
    }
    100%{
        height: 100%;
    }
}


.text-box h2{
 font-weight: 600;
}
.text-box small{
    display: inline-block;
    margin-bottom: 15px;
}
.left-container-arrow{
    height: 0;
    width: 0;
    position: absolute;
    top: 28px;
    z-index: 1;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    border-left: 15px solid #fff;
    right: -15px;
}
.right-container-arrow{
    height: 0;
    width: 0;
    position: absolute;
    top: 28px;
    z-index: 1;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    border-right: 15px solid #fff;
    left: -15px;
}
/*----------- smoll screen ----------*/
@media screen and (max-width: 600px){
    
    .timeline{
        margin: 50px auto;
    }
    .timeline::after{
        left: 30px;
    }
    .container{
        width: 90%;
        padding-left: 70px;
        padding-right: 25px;
    }
    .text-box{
        font-size: 13px;
    }
    .text-box small{
        margin-bottom: 20px;
    }
    .right-containe{
        left: 0;
    }
    .left-containe img, .right-containe img{
        left: 10px;
    }
    .left-container-arrow, .right-container-arrow{
        border-right: 15px solid #fff;
        border-left: 0;
        left: -15px;
    }
}
.heading{
    text-align: center;
    color: #fff;
    padding-bottom: -50px;
    padding-top: 50px;
}
/*----------- botten -----------*/
a{
    position: relative;
   background: rgb(15, 3, 3);
   color: rgb(9, 1, 1);
   text-decoration: none;
   text-transform: uppercase;
   font-size: 0.80em;
   letter-spacing: 0.1em;
   font-weight: 400;
   padding: 10px 30px;
   transition: 0.5s;
}
/*------------------- botten color use in inline Css -----------------*/

.hero-btn {
    display: inline-block;
    text-decoration: none;
    color: rgba(4, 0, 2, 0.978);
    border: 1.5px solid rgb(16, 4, 4);
    padding: 12px 34px;
    font-size: 13px;
    background: transparent;
    position: relative;
    cursor: pointer;
    background: #bdc2c2;
}

.hero-btn:hover {
    border: 1px solid #0a90a8;
    background: #0a90a8;
    transition: 1s;
}


